.edit-variant{
    .preview{
        margin: 5px;
        padding: 3px;
        border: 1px solid #ccc;
        height: 130px;
        width: 130px;
        overflow: hidden;
        position: relative;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        ion-button{
            position: absolute;
            right: -5px; top: -2px;
        }
    }
}