<div class="box">
  <h4>Enter quantity and supply price</h4>
  <ion-button fill="clear" class="close-button" size="small" (click)="dismiss()"><ion-icon name="close-circle-outline" color="primary"></ion-icon></ion-button>
  <form [formGroup]="form" (ngSubmit)="submit()">    
    <ion-item lines="full">
      <ion-label position="floating">Qty <span class="require">*</span>
      </ion-label>
      <ion-input type="number" formControlName="qty" required></ion-input>
    </ion-item>
    <span class="error" *ngIf="isSubmitted && qtyInput.invalid">{{qtyInputError}}</span>
    <ion-item lines="full">
      <ion-label position="floating">Supply Price <span class="require">*</span>
      </ion-label>
      <ion-input type="number" formControlName="supply_price" required></ion-input>
    </ion-item>
    <span class="error" *ngIf="isSubmitted && priceInput.invalid">{{priceInputError}}</span>
    <ion-row>
      <ion-col>
        <ion-button type="button" color="danger" expand="block" (click)="dismiss()">Cancel</ion-button>
      </ion-col>
      <ion-col>
        <ion-button type="submit" expand="block">Save</ion-button>
      </ion-col>
    </ion-row>
  </form>
</div>
