<div class="p-2">
    <ion-item>
        <ion-label position="floating">Color</ion-label>
        <ion-input [(ngModel)]="color" (ionInput)="changeColor($event)" debounce="800"></ion-input>
        <ion-icon [style.color]="color" name="square" slot="start"></ion-icon>
    </ion-item>
    <canvas #palette style="background:white;" class='center'></canvas>
    <canvas #chooser style="background:white; margin-top: 20px; margin-bottom: 20px; " class='center'></canvas>
    <ion-row>
        <ion-col>
            <ion-button color="danger" expand="block" (click)="dismiss()">Cancel</ion-button>        
        </ion-col>
        <ion-col>
            <ion-button color="primary" expand="block" (click)="apply()">Ok</ion-button>        
        </ion-col>
    </ion-row>
</div>