<app-header [title]="title"></app-header>

<ion-content [fullscreen]="true">
  <ion-row class="title-wrapper">
    <ion-col size-md="4" size="12">
      <div class="img-wrapper"><img src="assets/blog/blog1.png"/></div>
    </ion-col>
    <ion-col size-md="4" size="12" class="d-flex flex-column justify-content-center">        
      <h1 class="text-light-blue">Blog</h1>
    </ion-col>
    <ion-col size-md="4" size="12">
      <div class="img-wrapper"><img src="assets/blog/blog2.png"/></div>
    </ion-col>
  </ion-row>  
  <ion-row class="mt-4">
    <ion-col size-md="3" size="12">
      <div class="img-wrapper">
        <img src="assets/home/streamline.png"/>
      </div>
    </ion-col>
    <ion-col size-md="9" size="12">
      <div class="d-flex flex-column justify-content-center p-3">
        <h5 class="text-light-blue">How to streamline operations and improve your customer services with CaPOS?</h5>
        <h6>Quality of service comes second only to delicious food in terms of what customers prioritise when it comes to their experience of dining out. So important ...</h6>
        <div class="d-flex justify-content-end">
          <ion-button routerLink="/static/blog-post/1">Read More</ion-button>
        </div>
      </div>
    </ion-col>    
  </ion-row>  
  <ion-row class="mt-4">
    <ion-col size-md="3" size="12">
      <div class="img-wrapper">
        <img src="assets/home/restaurant.png"/>
      </div>
    </ion-col>
    <ion-col size-md="9" size="12">
      <div class="d-flex flex-column justify-content-center p-3">
        <h5 class="text-light-blue">Increasing your restaurant efficiency</h5>
        <h6>Improving efficiency is an ongoing task for those in the restaurant industry. Cutting costs and making processes and systems work harder can be a challenge ...</h6>
        <div class="d-flex justify-content-end">
          <ion-button routerLink="/static/blog-post/2">Read More</ion-button>
        </div>
      </div>
    </ion-col>    
  </ion-row>    
</ion-content>
