<ion-header [ngClass]="sticky?'back-opacity':'fullscreen-header'">
  <ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">	
	<div class="auth-content-wrapper">
		<div class="box">
			<a routerLink="/home" class="logo">
				<img src="assets/home/logo.png"/>
			</a>
			<h1 class="text-light-blue">Forgot Password?</h1>
			<form [formGroup]="form" (ngSubmit)="submit()">				
				<ion-item lines="full">
					<ion-label position="floating">
						<ion-icon name="mail-outline"></ion-icon> Email <span class="require">*</span>
					</ion-label>
					<ion-input type="email" formControlName="email" required></ion-input>
				</ion-item>
				<span class="error" *ngIf="isSubmitted && (emailInput.invalid || email_error)">{{emailInputError}}</span>				
				<div class="text-center mt-3 mb-2">
					<ion-button type="submit" expand="block">Send</ion-button>
				</div>
			</form>
			<div class="mt-2">				
				Already had account? <a routerLink="/auth/sign-in" routerLinkActive="active-link">Signin</a>
			</div>			
		</div>	
	</div>
</ion-content>
  