.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  .box {
    position: relative;    
    width: 100%;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    max-width: 330px;
    box-shadow: 0 6px 10px rgb(0 0 0 / 14%), 0 1px 18px rgb(0 0 0 / 12%), 0 3px 5px rgb(0 0 0 / 20%);
    text-align: center;
    padding: 1rem 0;
  }  
  form {        
    padding: 0.75rem;
    text-align: left;
    ion-item{
      position: relative;
      .suffix-icon{
        position: absolute;
        top:50%; right: 0;
      }
    }
    ion-label {
      span{color: red;}
    }
  }
  .logo{
    margin-bottom: 0.75rem;
    img{
      height: 60px;
    }
  }   
}