<div class="box">
  <h4>{{title}}</h4>
  <ion-button fill="clear" class="close-button" (click)="dismiss()"><ion-icon name="close-circle-outline" color="primary"></ion-icon></ion-button>
  <form [formGroup]="form" (ngSubmit)="submit()">    
    <ion-item lines="full">
      <ion-label position="floating">Start Date Time<span class="require">*</span></ion-label>
      <ion-datetime displayFormat="YYYY-MM-DD hh:mm:ss" placeholder="Select DateTime" formControlName="start_date" required></ion-datetime>      
    </ion-item>
    <span class="error" *ngIf="isSubmitted && startDateInput.invalid">{{startDateInputError}}</span>
    <ion-item lines="full">
      <ion-label position="floating">End Date Time</ion-label>
      <ion-datetime displayFormat="YYYY-MM-DD hh:mm:ss" placeholder="Select DateTime" formControlName="end_date"></ion-datetime>      
    </ion-item>    
    <ion-row>
      <ion-col>
        <ion-button type="button" color="danger" expand="block" (click)="dismiss()">Cancel</ion-button>
      </ion-col>
      <ion-col>
        <ion-button type="submit" expand="block">Save</ion-button>
      </ion-col>
    </ion-row>
  </form>
</div>
