<app-header [title]="title"></app-header>
<ion-content>
  <app-table 
    [tb_name]="'product_price_books'" 
    [rows]="rows" 
    [all_columns]="all_columns" 
    [show_columns]="show_columns"
    [show_details]="true"
    [show_search]="true"
    [loading]="loading"  
    [add_new]="true" 
    [external_sort]="true"
    [limit]="10"
    (searchEvent)="openSearch()"
    (sortEvent)="onSort($event)"
    (reloadEvent)="initTable()"
    (addRowEvent)="addNew()"
    (editRowEvent)="edit($event)"
    (deleteRowEvent)="delete($event)"        
  ></app-table>  
</ion-content>
