.sale_details{
    position: relative;
    .close-button{
        position: absolute;
        top: 5px; right: 5px;
        z-index: 1;
    }
    .detail-wrapper{
        max-height: calc(100vh - 250px);
        overflow-y: auto;
    }
    ion-item{        
        ion-label{font-size: 0.9em;}
        ion-note{
            font-size: 0.9em;
            color: var(--ion-color-dark);
        }
    }
    .buttons{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0.75rem 0.75rem 0;
        span{
            font-weight: bold;
            line-height: 32px;
        }   
        ion-button{
            color: var(--ion-color-primary);
        }     
    }
}