<div class="box">
  <h4>Confirm Password</h4>
  <ion-button fill="clear" class="close-button" (click)="dismiss()"><ion-icon name="close-circle-outline" color="primary"></ion-icon></ion-button>
  <div class="pr-3 pl-3">Need to confirm your password in order to add discount.</div>
  <form [formGroup]="form" (ngSubmit)="doAction()">
    <ion-item class="w-100">
      <ion-label position="floating">Password</ion-label>
      <ion-input [type]="hide ? 'password' : 'text'" formControlName="password" required></ion-input>
      <ion-icon (click)="hide=!hide" name="{{hide?'eye-off-outline':'eye-outline'}}" class="suffix-icon"></ion-icon>  
    </ion-item> 
    <span class="error" *ngIf="isSubmitted && passwordInput.invalid">{{passwordInputError}}</span>
    <ion-row>
      <ion-col>
        <ion-button type="button" color="danger" expand="block" (click)="dismiss()">Cancel</ion-button>
      </ion-col>      
      <ion-col>
        <ion-button type="submit" expand="block">Confirm</ion-button>
      </ion-col>
    </ion-row>
  </form>
</div>
