.edit-customer{
    ion-card-title{
        font-size: 16px;
    }
    ion-item{
        --min-height: 40px;
        --padding-start: 0;
        ion-label{
            font-size: 14px !important;
        }
        ion-input{
            font-size: 15px;
        }
    }
}