.customer-detail{
    ion-item{
        --min-height: 40px;
        ion-label{
            font-size: 13px;
        }    
        ion-note{
            font-size: 13px !important;
            color: black !important;        
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
        }
        &.header{
            font-weight: 700;
        }
    }
}