<div class="box">
  <h4>Search Product</h4>
  <ion-button fill="clear" class="close-button" size="small" (click)="dismiss()"><ion-icon name="close-circle-outline" color="primary"></ion-icon></ion-button>
  <form [formGroup]="form" (ngSubmit)="search()" class="search-form">    
    <div class="form-fields">
      <ion-row>        
        <ion-col size="12">
          <ion-item lines="full">
            <ion-label position="floating">Name / Barcode</ion-label>
            <ion-input formControlName="keyword"></ion-input>
          </ion-item>           
        </ion-col>        
      </ion-row>
      <ion-row>
        <ion-col size-lg="4" size-md="6" size="12">
          <ion-item lines="full">
            <ion-label position="stacked">Category</ion-label>
            <ion-select formControlName="type">
              <ion-select-option value="">All Categories</ion-select-option>
              <ion-select-option *ngFor="let s of types" [value]="s._id">{{s.name}}</ion-select-option>
            </ion-select>
          </ion-item> 
        </ion-col>
        <ion-col size-lg="4" size-md="6" size="12">
          <ion-item lines="full">
            <ion-label position="stacked">Brand</ion-label>
            <ion-select formControlName="brand">
              <ion-select-option value="">All Brands</ion-select-option>
              <ion-select-option *ngFor="let s of brands" [value]="s._id">{{s.name}}</ion-select-option>
            </ion-select>
          </ion-item> 
        </ion-col>
        <ion-col size-lg="4" size-md="6" size="12">
          <ion-item lines="full">
            <ion-label position="stacked">Supplier</ion-label>
            <ion-select formControlName="supplier">
              <ion-select-option value="">All Suppliers</ion-select-option>
              <ion-select-option *ngFor="let s of suppliers" [value]="s._id">{{s.name}}</ion-select-option>
            </ion-select>
          </ion-item> 
        </ion-col>
      </ion-row>
      <ion-row>        
        <ion-col size-lg="4" size-md="6" size="12">
          <ion-item lines="full">
            <ion-label position="stacked">Attribute</ion-label>
            <ion-select formControlName="attribute">
              <ion-select-option value="">All Attributes</ion-select-option>
              <ion-select-option *ngFor="let s of attributes" [value]="s._id">{{s.name}}</ion-select-option>
            </ion-select>
          </ion-item> 
        </ion-col>
        <ion-col size-lg="4" size-md="6" size="12">
          <ion-item lines="full">
            <ion-label position="stacked">Tag</ion-label>
            <ion-select formControlName="tag">
              <ion-select-option value="">All Tags</ion-select-option>
              <ion-select-option *ngFor="let s of tags" [value]="s._id">{{s.name}}</ion-select-option>
            </ion-select>
          </ion-item> 
        </ion-col>
        <ion-col size-lg="4" size-md="6" size="12">
          <ion-item lines="full">
            <ion-label position="stacked">Status</ion-label>
            <ion-select formControlName="enabled">
              <ion-select-option value="">All Status</ion-select-option>
              <ion-select-option value="true">Active</ion-select-option>
              <ion-select-option value="false">Inactive</ion-select-option>
            </ion-select>
          </ion-item> 
        </ion-col>
      </ion-row>
    </div>
    <ion-row>
      <ion-col>
        <ion-button type="button" color="danger" expand="block" (click)="dismiss()">Cancel</ion-button>
      </ion-col>
      <ion-col>
        <ion-button type="submit" expand="block">Search</ion-button>
      </ion-col>
      <ion-col>
        <ion-button type="button" color="warning" expand="block" (click)="clearFilter()">Clear</ion-button>
      </ion-col>
    </ion-row>
  </form>
</div>
