<div class="box">
  <h4>Search Store Credit History</h4>
  <ion-button fill="clear" class="close-button" size="small" (click)="dismiss()"><ion-icon name="close-circle-outline" color="primary"></ion-icon></ion-button>
  <form [formGroup]="form" (ngSubmit)="search()" class="search-form">    
    <div class="form-fields">
      <ion-row>        
        <ion-col size="12">
          <ion-item lines="full">
            <ion-label position="stacked">Customer</ion-label>
            <ion-select formControlName="customer">
              <ion-select-option value="">All Customers</ion-select-option>
              <ion-select-option *ngFor="let s of customers" [value]="s._id">{{s.name}} ({{s.email}})</ion-select-option>
            </ion-select>
          </ion-item> 
        </ion-col>        
      </ion-row>
    </div>
    <ion-row>
      <ion-col>
        <ion-button type="button" color="danger" expand="block" (click)="dismiss()">Cancel</ion-button>
      </ion-col>
      <ion-col>
        <ion-button type="submit" expand="block">Search</ion-button>
      </ion-col>
      <ion-col>
        <ion-button type="button" color="warning" expand="block" (click)="clearFilter()">Clear</ion-button>
      </ion-col>
    </ion-row>
  </form>
</div>
