<app-header [title]="title"></app-header>
<ion-content>
	<ion-row>
		<ion-col size-lg="4" size-md="6" size="12" *ngFor="let plan of plans">
			<ion-card class="capos-plan-card {{plan.id}}" [ngClass]="{'selected':isLoggedin && plan.id==store.plan.id}">
				<ion-card-header>
					<ng-container *ngIf="isLoggedin && plan.id==store.plan.id">Current Plan</ng-container>
					<ng-container *ngIf="!isLoggedin || plan.id!=store.plan.id">{{plan.label}}</ng-container>
				</ion-card-header>
				<ion-card-content>
					<div class="bg-white price">
						<ng-container *ngIf="plan.price==0"><h2>Free</h2><span></span></ng-container>
						<ng-container *ngIf="plan.price>0">
							<h2><span>$</span>{{plan.price}}</h2>
							<span>per month</span>
						</ng-container>
					</div>
					<ng-container *ngFor="let f of plan.features">
						<div class="bg-gray">
							<ul class="text-left mb-0">
								<li *ngFor="let ff of f">{{ff}}</li>
							</ul>
						</div>
					</ng-container>
				</ion-card-content>
				<div class="card-footer">
					<ng-container *ngIf="!isLoggedin">
						<ion-button color="primary" (click)="signin()">Select Plan</ion-button>
					</ng-container>
					<ng-container *ngIf="isLoggedin && plan.id!=store.plan.id">
						<ion-button color="primary" (click)="selectPlan(plan)">Select Plan</ion-button>
					</ng-container>
					<ng-container *ngIf="isLoggedin && plan.id==store.plan.id">
						<ng-container *ngIf="store.plan.id=='free'">
							<div class="renewal_date">Free</div>
						</ng-container>
						<ng-container *ngIf="isLoggedin && store.plan.id!='free'">
							<div class="renewal_date">Renewal Date
								<div class="d-flex justify-content-center">									
									<p class="m-0" *ngIf="renewal_date">{{util.handleDate(renewal_date)}}</p>
								</div>
							</div>
						</ng-container>
					</ng-container>
				</div>
			</ion-card>
		</ion-col>
	</ion-row>
</ion-content>
