ion-list.add-to-bundle{
    ion-item{    
        ion-note{
            margin: 0;
            font-size: 14px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0;
            height: 100%;
        }
    }
}