ion-list.user-menu{
    ion-list-header{
        font-size: 19px;
    }
    ion-item {
        ion-icon {
            font-size: 20px;
        }
        ion-label{
            font-size: 16px;
        }
    }
}