<app-header [title]="title"></app-header>

<ion-content [fullscreen]="true">
  <ion-row class="title-wrapper">
    <ion-col size-md="4" size="12">
      <div class="img-wrapper"><img src="assets/features/knowledge2.png"/></div>
    </ion-col>
    <ion-col size-md="4" size="12" class="d-flex flex-column justify-content-center">        
      <h1 class="text-light-blue">Features</h1>
    </ion-col>
    <ion-col size-md="4" size="12">
      <div class="img-wrapper"><img src="assets/features/knowledge1.png"/></div>
    </ion-col>
  </ion-row>
  <ion-row class="mt-4">
    <ion-col size="12">
      <h1>What makes us stand out?</h1>
    </ion-col>
  </ion-row>
  <ion-row class="mt-3">
    <ion-col size-md="6" size="12">
      <div class="img-wrapper">
        <img src="assets/features/reliability_icon.png"/>
      </div>
    </ion-col>
    <ion-col size-md="6" size="12">
      <div class="d-flex flex-column justify-content-center p-3">
        <h5>Reliability</h5>
        <h6>Your POS must be dependable. Here at CaPOS, we are heavy into support. No matter what time it is, 24/7, we are always here for you. It's not just a slogan; it's in our DNA. Our friendly staff is some of the best trained in the world. You can rely on our Support personnel to answer any question you have and to help you through any issue that comes across – anytime.</h6>
      </div>
    </ion-col>    
  </ion-row>  
  <ion-row>
    <ion-col size-md="6" size="12">
      <div class="d-flex flex-column justify-content-center p-3">
        <h5>Speed</h5>
        <h6>Our system is Road Runner fast. Your POS system and hardware is the heart of your restaurant, bar, or retail business. It needs to be dependable and fast to keep up with today's busy lifestyle. If your POS doesn't keep pace, customers will go elsewhere.</h6>
      </div>
    </ion-col>
    <ion-col size-md="6" size="12">
      <div class="img-wrapper">
        <img src="assets/features/speed_icon.png"/>
      </div>
    </ion-col>    
  </ion-row>  
  <ion-row class="mt-3">
    <ion-col size-md="6" size="12">
      <div class="img-wrapper">
        <img src="assets/features/report_icon.png"/>
      </div>
    </ion-col>
    <ion-col size-md="6" size="12">
      <div class="d-flex flex-column justify-content-center p-3">
        <h5>Reports that are customizable</h5>
        <h6>Your business is unique. You are unique. Your POS needs to be individualized for the way you do business. CaPOS' unmatched advanced technology runs intuitively to give you the foremost tailor-made versatility that supports you when you need it.</h6>
      </div>
    </ion-col>    
  </ion-row>  
  <ion-row>
    <ion-col size-md="6" size="12">
      <div class="d-flex flex-column justify-content-center p-3">
        <h5>Advanced management of inventory and staff</h5>
        <h6>CaPOS easy, powerful built-in algorithms gives you the performance you require for your growing business. Day in and day out, you will be able to access the system to accurately pinpoint your requirements with a touch of a button.</h6>
      </div>
    </ion-col>
    <ion-col size-md="6" size="12">
      <div class="img-wrapper">
        <img src="assets/features/inventory_management_icon.png"/>
      </div>
    </ion-col>    
  </ion-row>  
  <ion-row class="mt-3">
    <ion-col size-md="6" size="12">
      <div class="img-wrapper">
        <img src="assets/features/security_icon.png"/>
      </div>
    </ion-col>
    <ion-col size-md="6" size="12">
      <div class="d-flex flex-column justify-content-center p-3">
        <h5>Full compliance of PCI DSS</h5>
        <h6>CaPOS maintain a secure network to protect your business when making transactions. Cardholder information is locked and secured as well. Digital encryption, frequently updated anti-virus, anti-spyware, and anti-malware software protects at the highest possible level of vulnerability management protection.</h6>
      </div>
    </ion-col>    
  </ion-row>  
</ion-content>
