<app-header [title]="title"></app-header>

<ion-content [fullscreen]="true">
  <ion-row class="title-wrapper">
    <ion-col size-md="4" size="12">
      <div class="img-wrapper"><img src="assets/support/support1.png"/></div>
    </ion-col>
    <ion-col size-md="4" size="12" class="d-flex flex-column justify-content-center">        
      <h1 class="text-light-blue">Support</h1>
    </ion-col>
    <ion-col size-md="4" size="12">
      <div class="img-wrapper"><img src="assets/support/247.png"/></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <div class="text-center">
        <ion-button routerLink="/static/contact">Contact</ion-button>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="mt-4"> 
    <ion-col size="12">
      <h1>What makes us different? CaPOS Support.</h1>      
    </ion-col>   
  </ion-row>
  <ion-row class="mt-4">
    <ion-col size-md="3" size="12">
      <div class="img-wrapper">
        <img src="assets/support/technical-support.png"/>
      </div>
    </ion-col>
    <ion-col size-md="9" size="12">
      <div class="d-flex flex-column justify-content-center p-3">
        <h5>Support without peer</h5>
        <h6>We do everything possible to make you feel comfortable and reassured. Our team will look after you from the first moment you contact us.</h6>
        <h6>We’ll help you with your perfect POS solution and customization to meet your requirements fully. Though, CaPOS system is really easy in use, we will provide all necessary tutorials and support for your business run smoothly and effectively right from the start.</h6>
        <h6>Once you’re onboard we’ll make sure your CaPOS experience is as seamless as possible. If there’s a hitch, we’ll respond quickly so any downtime is kept to a minimum.</h6>
      </div>
    </ion-col>    
  </ion-row>  
  <ion-row class="mt-4">
    <ion-col size-md="3" size="12">
      <div class="img-wrapper">
        <img src="assets/support/247.png"/>
      </div>
    </ion-col>
    <ion-col size-md="9" size="12">
      <div class="d-flex flex-column justify-content-center p-3">
        <h5>We are always here for you -24/7</h5>
        <h6>We at CaPOS  understand that time is one of the most valuable resources for business. Our system is Road Runner fast. Your POS system and hardware is the heart of your restaurant, bar, or retail business. It needs to be dependable and fast to keep up with today's busy lifestyle. If your POS doesn't keep pace, customers will go elsewhere.</h6>
        <h6>That is why we provide 24/7 support for our clients to be sure that whatever issue they accidently face in their way of effiient business operation, our epmloyees will always be here for you to save your time and solve problems whenever they occur.</h6>
      </div>
    </ion-col>    
  </ion-row>  
</ion-content>
