<app-header [title]="title"></app-header>

<ion-content [fullscreen]="true">
  <ion-row class="title-wrapper">
    <ion-col size-md="4" size="12">
      <div class="img-wrapper"><img src="assets/faq/banner1.png"/></div>
    </ion-col>
    <ion-col size-md="4" size="12" class="d-flex flex-column justify-content-center">        
      <h1 class="text-light-blue">Frequently Asked Questions</h1>
    </ion-col>
    <ion-col size-md="4" size="12">
      <div class="img-wrapper"><img src="assets/faq/banner2.png"/></div>
    </ion-col>
  </ion-row>
  <ion-row class="mt-4">
    <ion-col size="12">
      <h1>If you're still wondering if CaPOS is the system for you, take a test drive, and then ask yourself these questions:</h1>
    </ion-col>
  </ion-row>
  <ion-row class="mt-3">
    <ion-col size-md="6" size="12">
      <div class="img-wrapper">
        <img src="assets/faq/care.png"/>
      </div>
    </ion-col>
    <ion-col size-md="6" size="12">
      <div class="d-flex flex-column justify-content-center p-3">
        <h5>Was it user-friendly? Were you able to get around easily? Was it intuitive?</h5>
        <h6>The answer will be a resounding YES. If you had anything other than a positive experience, please contact our Support personnel so they can walk you through the issue. Our clients find that our POS system is the easiest, most intuitive program of its kind on the market today.</h6>
      </div>
    </ion-col>    
  </ion-row>  
  <ion-row>
    <ion-col size-md="6" size="12">
      <div class="d-flex flex-column justify-content-center p-3">
        <h5>Is the system fully contained? Does it come with hardware?</h5>
        <h6>CaPOS is here to set you up quickly to get your store running and taking transactions asap.</h6>
      </div>
    </ion-col>
    <ion-col size-md="6" size="12">
      <div class="img-wrapper">
        <img src="assets/faq/checked.png"/>
      </div>
    </ion-col>    
  </ion-row>  
  <ion-row class="mt-3">
    <ion-col size-md="6" size="12">
      <div class="img-wrapper">
        <img src="assets/faq/mail.png"/>
      </div>
    </ion-col>
    <ion-col size-md="6" size="12">
      <div class="d-flex flex-column justify-content-center p-3">
        <h5>How much does the system cost?</h5>
        <h6>We have four plans; you choose which program is appropriate for your needs. The executive plan, as well as three other plans, are available.</h6>
      </div>
    </ion-col>    
  </ion-row>  
  <ion-row>
    <ion-col size-md="6" size="12">
      <div class="d-flex flex-column justify-content-center p-3">
        <h5>What are the rates?</h5>
        <h6>Our payment processing rates in each of our four plans are reasonably priced at market value.</h6>
      </div>
    </ion-col>
    <ion-col size-md="6" size="12">
      <div class="img-wrapper">
        <img src="assets/faq/money-bag.png"/>
      </div>
    </ion-col>    
  </ion-row>  
  <ion-row class="mt-3">
    <ion-col size-md="6" size="12">
      <div class="img-wrapper">
        <img src="assets/faq/test.png"/>
      </div>
    </ion-col>
    <ion-col size-md="6" size="12">
      <div class="d-flex flex-column justify-content-center p-3">
        <h5>What about reports?</h5>
        <h6>You have many options here. Our reports are fully customizable and since they are on the cloud, can be accessed by yourself or anyone you choose. For example, if you want to give your CPA access in some regions of the report, no problem. It's that easy.</h6>
      </div>
    </ion-col>    
  </ion-row>  
  <ion-row>
    <ion-col size-md="6" size="12">
      <div class="d-flex flex-column justify-content-center p-3">
        <h5>What about inventory management?</h5>
        <h6>You will be able to manage your staff, as well as inventory, with CaPOS. You'll keep your cupboards well-stocked by using our management system. Your employees will appreciate the ease of checking in.</h6>
      </div>
    </ion-col>
    <ion-col size-md="6" size="12">
      <div class="img-wrapper">
        <img src="assets/faq/inventory.png"/>
      </div>
    </ion-col>    
  </ion-row>  
  <ion-row class="mt-3">
    <ion-col size-md="6" size="12">
      <div class="img-wrapper">
        <img src="assets/faq/integration.png"/>
      </div>
    </ion-col>
    <ion-col size-md="6" size="12">
      <div class="d-flex flex-column justify-content-center p-3">
        <h5>Any integrations?</h5>
        <h6>Yes, check out our Integrations page for details. We also have loyalty bonuses and convenient online ordering.</h6>
      </div>
    </ion-col>    
  </ion-row>  
  <ion-row>
    <ion-col size-md="6" size="12">
      <div class="d-flex flex-column justify-content-center p-3">
        <h5>Speaking of loyalty, what about customer marketing?</h5>
        <h6>Yes, see our loyalty page or contact us to inquire.</h6>
      </div>
    </ion-col>
    <ion-col size-md="6" size="12">
      <div class="img-wrapper">
        <img src="assets/faq/medal.png"/>
      </div>
    </ion-col>    
  </ion-row>  
</ion-content>
