<app-header [title]="title"></app-header>

<ion-content [fullscreen]="true">
  <ion-row class="title-wrapper">
    <ion-col size-md="4" size="12">
      <div class="img-wrapper"><img src="assets/how-it-works/how-it-works2.png"/></div>
    </ion-col>
    <ion-col size-md="4" size="12" class="d-flex flex-column justify-content-center">        
      <h1 class="text-light-blue">How it works</h1>
    </ion-col>
    <ion-col size-md="4" size="12">
      <div class="img-wrapper"><img src="assets/how-it-works/how-it-works1.png"/></div>
    </ion-col>
  </ion-row>
  <ion-row class="mt-4"> 
    <ion-col size="12">
      <h1>Implement  - Train - Support</h1>
      <div class="pr-3 pl-3 text-center">
        <h6>Your POS must be dependable. Here at CaPOS, we are heavy into support. No matter what time it is, 24/7, we are always here for you. It's not just a slogan; it's in our DNA. Our friendly staff is some of the best trained in the world. You can rely on our Support personnel to answer any question you have and to help you through any issue that comes across – anytime.</h6>
      </div>
      <div class="text-center">
        <ion-button routerLink="/static/contact">Contact</ion-button>
      </div>
    </ion-col>   
  </ion-row>
  <ion-row class="mt-4">
    <ion-col size-md="3" size="12">
      <div class="img-wrapper">
        <img src="assets/home/implement.png"/>
      </div>
    </ion-col>
    <ion-col size-md="9" size="12">
      <div class="d-flex flex-column justify-content-center p-3">
        <h5>Implement</h5>
        <h6>Firstly, we will will assist you all the way through the process of starting yousing CaPOS. Secondly, we will design and specialise CaPOS, to meet your business requirements.</h6>
        <h6>
          We’ve analyzed all competitors on the market and clients reviews to  requirements and goals. This allows us to create a bespoke point of sale solution which is tailored to your needs. Once we've reached a stage where everyone is happy with the proposed solution, we can start implementing the new technologies. To minimise disruption, we create a detailed plan which allows for a quick, stress-free process.
        </h6>  
      </div>
    </ion-col>    
  </ion-row>  
  <ion-row class="mt-4">
    <ion-col size-md="3" size="12">
      <div class="img-wrapper">
        <img src="assets/home/train.png"/>
      </div>
    </ion-col>
    <ion-col size-md="9" size="12">
      <div class="d-flex flex-column justify-content-center p-3">
        <h5>Train</h5>
        <h6>CaPOS system is client oriented and is really easy in use. Whether you have one Manager or a collection of different operational teams, the training can be carried out on or off site so you are ready with the new system. Once you have used the system for a short time, your dedicated account manager will assist you in making sure that everything is running smoothly.</h6>
        <h6>Sometimes things change for you and the business, so this can often be a good opportunity to review what works operationally and make any adjustments to maximise the effectiveness of our system. Dependent on future needs, your account manager will also arrange reviews with you as the year goes on to make sure you feel fully supported.</h6>
      </div>
    </ion-col>    
  </ion-row>  
  <ion-row class="mt-4">
    <ion-col size-md="3" size="12">
      <div class="img-wrapper">
        <img src="assets/home/supports.png"/>
      </div>
    </ion-col>
    <ion-col size-md="9" size="12">
      <div class="d-flex flex-column justify-content-center p-3">
        <h5>Support</h5>
        <h6>Once the system is up and running, our friendly support team are available at every step to ensure that you are confident and happy. Whether checking stock yields and batch quantities or analysing reports we are here to help.</h6>
        <h6>Our extensive support network is one of the largest in the industry. Our team is available for help 24/7. We will even send you an engineer if we can’t solve the problem remotely. All our vehicles are fitted with tracking devices so the nearest team will respond.</h6>
      </div>
    </ion-col>    
  </ion-row>  
</ion-content>
