.chk_payments {    
    & div{
        margin: 0.5rem 1rem 0.5rem 1.5rem;     
        display: flex;   
    }
    label {
        font-weight: 500;         
        font-size: 0.9em; 
        margin:0.25rem 0.75rem 0;       
    }  
    input {                
        flex-grow: 1;
    }    
}